<%= form_for @profile, url: user_profile_path do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :occupation %>
    <%= f.select :occupation, ['Developer', 'Entrepreneur', 'Recruiter'], {}, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :telephone_number %>
    <%= f.text_field :telephone_number, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :about %>
    <%= f.text_field :about, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>